@layer utilities {
  .scrollbar-hide-mobile {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide-mobile::-webkit-scrollbar {
    display: none;
  }

  @media (min-width: 1024px) {
    .scrollbar-tv {
      scrollbar-width: thin;
      scrollbar-color: rgba(82, 82, 91, 0.3) transparent;
    }

    .scrollbar-tv::-webkit-scrollbar {
      height: 8px;
      width: 8px;
    }

    .scrollbar-tv::-webkit-scrollbar-track {
      background: transparent;
    }

    .scrollbar-tv::-webkit-scrollbar-thumb {
      background-color: rgba(82, 82, 91, 0.3);
      border-radius: 9999px;
    }
  }
}
